extends layout
include mixins/navbar-buyer.jade
block content
  +buyer-nav(['','','active','','',''])


block holder
  .col-md-12
    .panel.panel-default
      .panel-heading My latest receipts  
      .panel-body
        div.row
          .btn-group.col-xs-12.col-md-6.col-sm-6.col-lg-3
            button.btn.btn-block.btn-default.dropdown-toggle.form-control(type='button', data-toggle='dropdown', aria-expanded='true')
              span(data-bind='label') Location
              span.caret
            |     
            ul.dropdown-menu(role='menu', aria-labelledby='Location')
              li
                a(role='menuitem', tabindex='-1',href='#') Austin
              |       
              li
                a(role='menuitem', tabindex='-1',href='#') Houston
              |       
              li
                a(role='menuitem', tabindex='-2',href='#') San Jose
              |       
              li
                a(role='menuitem', tabindex='-2',href='#') Chennai

          .btn-group.col-xs-12.col-md-6.col-sm-6.col-lg-3
            button.btn.btn-block.btn-default.dropdown-toggle.form-control(type='button', data-toggle='dropdown', aria-expanded='true')
              span(data-bind='label') Categories
              span.caret
            |     
            ul.dropdown-menu(role='menu', aria-labelledby='Categories')
              li
                a(role='menuitem', tabindex='-2',href='#') Restaurants
              |       
              li
                a(role='menuitem', tabindex='-2',href='#') Cafes
              |       
              li
                a(role='menuitem', tabindex='-2',href='#') Pharmacy
              |       
              li
                a(role='menuitem', tabindex='-2',href='#') Clothing
              |       
              li
                a(role='menuitem', tabindex='-2',href='#') Salons

          .btn-group.col-xs-12.col-md-6.col-sm-6.col-lg-3
            button.btn.btn-block.btn-default.dropdown-toggle.form-control(type='button', data-toggle='dropdown', aria-expanded='true')
              span(data-bind='label') Payment type
              span.caret
            |     
            ul.dropdown-menu(role='menu', aria-labelledby='paymenttype')
              li
                a(role='menuitem', tabindex='-2',href='#') Creditcard
              |       
              li
                a(role='menuitem', tabindex='-2',href='#') Visa
              |       
              li
                a(role='menuitem', tabindex='-2',href='#') Cash
              |       
              li
                a(role='menuitem', tabindex='-2',href='#') Apple Pay    
          .btn-group.col-xs-12.col-md-6.col-sm-6.col-lg-3
            button.btn.btn-block.btn-default.dropdown-toggle.form-control(type='button', data-toggle='dropdown', aria-expanded='true')
              span(data-bind='label') Amount
              span.caret
            |     
            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu2')
              li
                a(role='menuitem', tabindex='-2',href='#') $0 - $5
              |       
              li
                a(role='menuitem', tabindex='-2',href='#') $6 - $10
              |       
              li
                a(role='menuitem', tabindex='-2',href='#') $11 - $15  
              |       
              li
                a(role='menuitem', tabindex='-2',href='#') $16 - $20  

        table#receipts(data-height='400', data-search='true', data-search-align='center')
          thead
              tr
                th(data-field='id', data-align='center', data-sortable='true') Date
                |             
                th(data-field='Receipt #', data-align='center', data-sortable='true') Receipt #
                |             
                th(data-field='Amount', data-align='center', data-sortable='true') Amount
        script(type='text/javascript').
          $('#receipts').bootstrapTable({ smartDisplay:true,
            pagination:true,sidePagination:true,clickToSelect: true,
            data: !{json_data}
            });
          $( document.body ).on( 'click', '.dropdown-menu li', function( event ) {
              var $target = $( event.currentTarget );
              $target.closest( '.btn-group' )
              .find( '[data-bind="label"]' ).text( $target.text() )
              .end()
              .children( '.dropdown-toggle' ).dropdown( 'toggle' );
              return false;
              });