extends layout
include mixins/navbar-buyer.jade
block content
  +buyer-nav(['','','','','','active'])
  
  div.row-fluid
      .page-header.h3 My Profile
      form.login-form.form-horizontal(method='post', role='form')
        input(name='_csrf', type='hidden')
        .form-group
          label.col-sm-4 First Name
          .col-sm-8
            input.form-control(placeholder='Your first name', required='required', name='givenName', type='text')
        .form-group
          label.col-sm-4 Last Name
          .col-sm-8
            input.form-control(placeholder='Your last name', required='required', name='surname', type='text')
        .form-group
          label.col-sm-4 Street address
          .col-sm-8
            input.form-control(placeholder='e.g. 123 Sunny Ave', required='required', name='streetAddress', type='text')
        .form-group
          label.col-sm-4 City
          .col-sm-8
            input.form-control(placeholder='e.g. City', required='required', name='city', type='text')
        .form-group
          label.col-sm-4 State
          .col-sm-8
            input.form-control(placeholder='e.g. CA', required='required', name='state', type='text')
        .form-group
          label.col-sm-4 ZIP
          .col-sm-8
            input.form-control(placeholder='e.g. 94116', required='required', name='zip', type='text')
        .form-group
          .col-sm-offset-4.col-sm-8
            button.login.btn.btn-primary(type='submit') Save
        .pull-right
          a(href='/') Return to home page
