extends layout

block content
  .col-sm-6.col-sm-offset-3
    h1
      span.fa.fa-sign-in
      |  Signup
    // SIGNUP FORM
    form(method='post', role='form')
      input(name='_csrf', type='hidden')
      .form-group
        label Email
        |             
        input.form-control(placeholder='Your email', required='required', type='text', name='email')
      |         
      .form-group
        label Password
        |             
        input.form-control(placeholder='Set your password', required='required', type='password', name='password')
      |         
      button.btn.btn-warning.btn-lg(type='submit') Signup
    |     
    hr
    |     
    p
      | Already have an account? 
      a(href='/buyer-login') Login
    |     
    p
      | Or go 
      a(href='/') home
      | .
     .pull-right
          a(href='/') Return to home page  
