extends layout

include mixins/navbar-seller.jade
block content
  +seller-nav(['','','','active','',''])

  div.row-fluid
    .page-header.h3 Graphs
    .col-md-6
      .panel.panel-default
        .panel-heading
          h3 Quarterly Sales
        |                 
        .panel-body
          #quarterChart
    |         
    .col-md-6
      .panel.panel-default
        .panel-heading
          h3 Details per quarter
        |                 
        #detailChart.panel-body
    