extends layout
block holder
    .row.clearfix
        .col-md-12.column
            table#tab_logic.table.table-bordered.table-hover
                thead
                    tr
                        th.text-center
                            | Name
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        th.text-center
                          | Mail
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        th.text-center
                          | Mobile
                        | &#x9;&#x9;&#x9;&#x9;
                        th.text-center
                          |     
                tbody
                  tr#addr0
                    td
                      input.form-control(type='text', name='name0', placeholder='Naaaaame')
                    |    
                    td
                      input.form-control(type='text', name='mail0', placeholder='Mail')
                    |     
                    td
                      input.form-control(type='text', name='mobile0', placeholder='Mobile')
                    |    
                    td.text-center
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                      button#delete_row_0.btn.btn-danger.fa.fa-trash-o.fa-lg
                    |                      
                  tr#addr2
                  tr#addr3
                    td
                    |      
            | &#x9;
            a#add_row.btn.btn-success.btn-lg.pull-right Add Row
    
    //a#delete_row.pull-right.fa.fa-trash

    script(type='text/javascript').
        $(document).ready(function(){
            var i=1;
        $("#add_row").on("click", function(){
            $('#addr'+i).html("<td><input name='name"+i+"' type='text' placeholder='Name' class='form-control input-md' /> </td>"
                + " <td><input  name='mail"+i+"' type='text' placeholder='Mail'  class='form-control input-md'></td>"
                + "<td><input  name='mobile"+i+"' type='text' placeholder='Mobile'  class='form-control input-md'></td>"
                + "<td class='text-center'><a id='delete_row_"+i+"' name='mobile"+i+"' type='text' placeholder='Mobile'  class='btn btn-danger fa fa-trash-o fa-lg'></td>");
            $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
            i++; 
            });
        });
        $(document).on("click",'[id^=delete_row]',function(){
            var i = $(this).attr('id').replace(/delete_row_/, '');
            if(i>=0){
            $("#addr"+(i)).html('');
            }
            });