extends layout
block holder
  h1 Isotope - sorting
  h1 Isotope - combination filters
  #filters
      .ui-group
        h3 Color
        |     
        .button-group.js-radio-button-group(data-filter-group='color')
          button.button.is-checked(data-filter='') any
          |       
          button.button(data-filter='.red') red
          |       
          button.button(data-filter='.blue') blue
          |       
          button.button(data-filter='.yellow') yellow
      |   
      .ui-group
        h3 Size
        |     
        .button-group.js-radio-button-group(data-filter-group='size')
          button.button.is-checked(data-filter='') any
          |       
          button.button(data-filter='.small') small
          |       
          button.button(data-filter='.wide') wide
          |       
          button.button(data-filter='.big') big
          |       
          button.button(data-filter='.tall') tall
      |   
      .ui-group
        h3 Shape
        |     
        .button-group.js-radio-button-group(data-filter-group='shape')
          button.button.is-checked(data-filter='') any
          |       
          button.button(data-filter='.round') round
          |       
          button.button(data-filter='.square') square
    #container
      .color-shape.small.round.red
      |   
      .color-shape.small.round.blue
      |   
      .color-shape.small.round.yellow
      |   
      .color-shape.small.square.red
      |   
      .color-shape.small.square.blue
      |   
      .color-shape.small.square.yellow
      |   
      .color-shape.wide.round.red
      |   
      .color-shape.wide.round.blue
      |   
      .color-shape.wide.round.yellow
      |   
      .color-shape.wide.square.red
      |   
      .color-shape.wide.square.blue
      |   
      .color-shape.wide.square.yellow
      |   
      .color-shape.big.round.red
      |   
      .color-shape.big.round.blue
      |   
      .color-shape.big.round.yellow
      |   
      .color-shape.big.square.red
      |   
      .color-shape.big.square.blue
      |   
      .color-shape.big.square.yellow
      |   
      .color-shape.tall.round.red
      |   
      .color-shape.tall.round.blue
      |   
      .color-shape.tall.round.yellow
      |   
      .color-shape.tall.square.red
      |   
      .color-shape.tall.square.blue
      |   
      .color-shape.tall.square.yellow


  script(type='text/javascript').
    var $container = $('#container');
    $container.isotope({
        itemSelector: '.color-shape'
      });

    // bind sort button click
    var filters = {};

    $('#filters').on( 'click', '.button', function() {
      var $this = $(this);
      //- get group key
      var $buttonGroup = $this.parents('.button-group');
      var filterGroup = $buttonGroup.attr('data-filter-group');
      //- set filter for group
      filters[ filterGroup ] = $this.attr('data-filter');
      //- combine filters
      var filterValue = '';
      for ( var prop in filters ) {
        filterValue += filters[ prop ];
      }
      //- set filter for Isotope
    $container.isotope({ filter: filterValue });
      });

        //- change is-checked class on buttons
    $('.button-group').each( function( i, buttonGroup ) {
      var $buttonGroup = $( buttonGroup );
      $buttonGroup.on( 'click', 'button', function() {
        $buttonGroup.find('.is-checked').removeClass('is-checked');
        $( this ).addClass('is-checked');
        });
      });
      