extends layout

block content
 
	ul.nav.nav-tabs
		li(role='presentation')
			a.h4(href='/buyer-dashboard') My Dashboard
			|    
		li.active(role='presentation')
			a.h4(href='/myreceipts') My Receipts
			|  
		li(role='presentation')
			a.h4(href='/buyer-login') Today's expenditure
			|   
		li(role='presentation')
			a.h4(href='/buyer-login') Transactions
			|  
		li(role='presentation')
			a.h4(href='/buyer-login') Categories
			|   
		li(role='presentation')
			a.h4(href='/buyer-login') My APIs
			|   
		li(role='presentation')
			a.h4(href='/buyer-profile') My Profile

block holder
	div.one-time
		each val in [1, 2, 3, 4, 5]    
			|             
			div.well.col-xs-12.col-sm-12.col-md-6
				.text-center
					h3 Receipt
				.row
					.col-xs-6.col-sm-6.col-md-6
						address
							strong #{val}
							|                         
							br
							|2135 Sunset Blvd
							br
							| Los Angeles, CA 9002
							|                         
							br
							|                        
							abbr(title='Phone') P:
							|  (213) 484-6829
							|                
					.col-xs-6.col-sm-6.col-md-6.text-right
						p
							em Date: 1st November, 2013
							|              
				button.btn.btn-success.btn-lg.btn-block(type='button')
					|  Click to see in detail 

	
	script(type='text/javascript').
		$(document).ready(function(){
		$('.one-time').slick({ dots: false,
			infinite: true,
			speed: 300,
			slidesToShow: 3,
			slidesToScroll: 3, 
			responsive: [
			{breakpoint: 1024,settings: {
			slidesToShow: 2,
			slidesToScroll: 2,infinite: true,dots: false
			}},
			{
			breakpoint: 600,
			settings: {
			slidesToShow: 1,
			slidesToScroll: 1
				}
				},
				{
				breakpoint: 480,settings: {
				slidesToShow: 1,
				slidesToScroll: 1
					}
					}
					]
					});});

						
				// can unslick at a given breakpoint now by adding:
			    // settings: "unslick"
			    // instead of a settings objec