extends layout

block content
    h1= title
    p Welcome to #{title}
      form#formBuyerOrSeller(name="buyerorseller",method="post",action="/buyerorseller")
          div.col-md-2
            button.btn.btn-warning.btn-lg(data-action="Seller")	Seller
          div.col-md-3
            button.btn.btn-warning.btn-lg(data-action="Buyer")	Buyer
            
            //button.btn(data-action="Seller") Seller
            //button.btn(data-action="Buyer") Buyer

    div.col-md-5
        div.widget
          h1 About us
          p
            | asadsfdsfdfdfdfdcxcxxfdghf
            | jhgjhhnbnbnbnbnbnb
          p
            | Vivamus hgh jhjghg jhjhghg
            | Vivamus hgh jhjghg jhjhgh