extends layout

block content
  h1= title
  p Welcome to #{title}

      form#formBuyerOrSeller(name="buyerorseller",method="post",action="/buyerorseller")
        button.btn(data-action="Seller") Seller
        button.btn(data-action="Buyer") Buyer
block sidebar
  .widget
    h1 About us
    p
      | asadsfdsfdfdfdfdcxcxxfdghf
      | jhgjhhnbnbnbnbnbnb
    p
      | Vivamus hgh jhjghg jhjhghg
      | Vivamus hgh jhjghg jhjhghg
