
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    header
      div.text-center
        p Mushrooms
    title #{title} - Mushrooms

    link(rel='stylesheet', type='text/css', href='/owl.carousel/owl-carousel/owl.carousel.css')
    link(rel='stylesheet', type='text/css', href='/owl.carousel/owl-carousel/owl.theme.css')
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.6.0/bootstrap-table.min.css')


    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.1.1/isotope.pkgd.js')  
    script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.6.0/bootstrap-table.min.js')
    script(type='text/javascript', src='/owl.carousel/owl-carousel/owl.carousel.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.1.1/isotope.pkgd.js')  

    link(rel='stylesheet', href='/stylesheets/style.css')

    block head

  body
    div
      block content
    div.container
      div.holder
        block holder
    
    #footer.footer
      .facebook
      .twitter
      p 
        span.large Australia Brazil Canada China France Germany India Italy Japan Mexico Netherlands Spain
