extends layout

include mixins/navbar-seller.jade
block content
  +seller-nav(['active','','','','',''])

block holder

  .col-md-12
          h2 POS terminal
          h3.pull-right Receipt # 12345
        |               
  form.form(method='post', role='form', action='/next-item')
    .row.form-inline
      .col-md-12
       fieldset
        .form-group
          address.text-center
            strong Order Date:
            br
            button.btn.btn-default(type='button') March 7 2015
        .form-group 
            label(for='time')   
          |              
        .form-group
          address.text-center
            strong Billed To:
            br
            input.form-control(type='text', name='email1')
            |                              
        .form-group
            label(for='time')     
          |             
        .form-group
          address.text-center
            strong Payment Method:
            br 
            .btn-group  
              button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true')
                | Payment type
                span.caret
              |     
              ul.dropdown-menu(role='menu', aria-labelledby='paymenttype')
                li
                  a(role='menuitem', tabindex='-2',href='#') Creditcard
                |       
                li
                  a(role='menuitem', tabindex='-2',href='#') Visa
                |       
                li
                  a(role='menuitem', tabindex='-2',href='#') Cash
                |       
                li
                  a(role='menuitem', tabindex='-2',href='#') Apple Pay 
                |          
    form.row
      .col-md-12
        .panel.panel-default
          .panel-heading
            h3.panel-title
              strong Order summary
          |     &#x9;&#x9;&#x9;
          .panel-body
            .table-responsive
              table#tab_logic.table.table-bordered.table-hover
                thead
                  tr
                    td.text-center.col-md-2
                      strong Item Code
                    |         &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.text-center.col-md-3
                      strong Item Name
                    |         &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.text-center.col-md-2
                      strong Category
                    |         &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.text-center.col-md-2                    
                      strong Unit Price
                    |         &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.text-center.col-md-1
                      strong Quantity
                    |         &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.text-center.col-md-2
                      strong Subtotal
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    th.text-center
                            |      

                tbody.expandable
                  tr#addr0
                    //- input(name='_csrf', type='hidden') 
                    td
                      input.form-control(placeholder='56779GH7', name='ItemNumber', type='text')
                    |            
                    td
                      input.form-control(placeholder='Cafe Latte', name='ItemName', type='text')
                    |            
                    td
                      div.form-control.category( placeholder='', name='category')
                    |            
                    td
                     .input-group
                      span.input-group-addon $
                      input.form-control.price(placeholder='$12.00', name='UnitPrice')
                    |            
                    td
                      input.form-control.qty(placeholder='2', name='Quantity', value=1)
                    |            
                    td
                     .input-group
                      span.input-group-addon $
                      div.form-control.subtotal.text-right( placeholder='', name='Subtotal')
                    |           
                    td.text-center
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                        a#delete_row_0.btn.btn-danger.fa.fa-trash-o.fa-lg
                    |    
                    td.text-center
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                        a#add_row.btn.btn-success.btn-sm.pull-right +   
                  tr#summaryrow
                    td.thick-line(colspan='5')
                     strong.pull-right Subtotal
                    |  
                    td#subtotal.thick-line.text-right $ 0.00
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  tr
                    td.thick-line(colspan='5')
                     strong.pull-right Tax (8.75%)
                    |  
                    td#taxline.thick-line.text-right $ 0.00
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  |     &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  tr
                    td.thick-line(colspan='5')
                     strong.pull-right Total
                    |  
                    td#total.thick-line.text-right $ 0.00
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;

          div.row-fluid
           form.form-horizontal(method='post', role='form', action='/stop-billing')
              input(name='_csrf', type='hidden')
              .form-group
                .col-md-12.text-center
                  button.login.btn.btn-primary.btn-lg(type='submit') Transaction Complete
                    |   
            

        script(type='text/javascript').
          $(document).ready(function(){
            var i=1;
          $("#add_row").on("click", function(){
                console.log(i)
                $('#summaryrow').before('<tr id="addr'+(i)+'"></tr>');
                $('#addr'+(i)).html("<td><input name='ItemNumber"+i+"' type='text' placeholder='  AAA56779GH7' class='form-control input-md' /> </td>"
                    + "<td><input  name='ItemName"+i+"' type='text' placeholder='Cafe Latte'  class='form-control input-md'></td>"
                    + "<td><div class='form-control category' name='category'></div></td>"
                    + "<td><div class='input-group'><span class ='input-group-addon'>$</span><input  name='UnitPrice"+i+"'  placeholder='$12.00'  class='price form-control input-md'></div></td>"
                    + "<td><input  name='Quantity"+i+"' placeholder='2'  class='qty form-control input-md'></td>"
                    + "<td><div class='input-group'><span class ='input-group-addon'>$</span><div  name='Subtotal"+i+"'  placeholder='0.00'  class='subtotal Text-right form-control input-md'></div></td>"
                    + "<td class='text-center'><a id='delete_row_"+i+"' name='mobile"+i+"' type='text' placeholder='Mobile'  class='btn btn-danger fa fa-trash-o fa-lg'></td>"
                    + "<td class='text-center'><a id='add_row' name='mobile"+i+"' type='text' placeholder='Mobile'  class='btn btn-success btn-sm pull-right'>+</td>");
                console.log('hi');
                i++;


              });
            });

          $(document).on("click",'[id^=delete_row]',function(){
              var i = $(this).attr('id').replace(/delete_row_/, '');
              console.log(i);
              if(i>=1){
              $("#addr"+(i)).html('');
              }
              else{
              $("#addr0").find('input').val('');
              $("#addr0").find('.subtotal').text('0.00');
              }
               var total = 0;
              $('#tab_logic  .subtotal').each(function(){
               total += parseFloat(this.innerHTML)
               });
              console.log(total);
               $('#tab_logic  #subtotal').text('$' + total.toFixed(2));
               $('#tab_logic  #taxline').text('$' + (0.0875*total).toFixed(2));
               $('#tab_logic  #total').text('$' + (1.0875*total).toFixed(2));
              });

          $(document).on("keyup",'#tab_logic .qty, #tab_logic .price',function(){
            console.log('test');
            this.value = this.value.replace(/[^0-9\.]/g,'');
            //- this.value=parseFloat($.trim(this));
            //- console.log((this).text());
            var E=jQuery(this).parents('tr').filter(':first');
            var subT=parseInt(E.find('.qty').val(),10) * parseFloat(E.find('.price').val());
            if ($.isNumeric(subT))
             {
             E.find('.subtotal').text(subT.toFixed(2));
             }
            else
             {
             E.find('.subtotal').text('0.00');
             }
              var total = 0;
              $('#tab_logic  .subtotal').each(function(){
               total += parseFloat(this.innerHTML)
               });
              console.log(total);
               $('#tab_logic  #subtotal').text('$ ' + total.toFixed(2));
               $('#tab_logic  #taxline').text('$ ' + (0.0875*total).toFixed(2));
               $('#tab_logic  #total').text('$ ' + (1.0875*total).toFixed(2));
              
              });

