extends layout

include mixins/navbar-seller.jade
block content
  +seller-nav(['active','','','','',''])

block holder
  .col-md-12
          h2 POS terminal
          h3.pull-right Receipt # 12345
        |               
  form.form(method='post', role='form', action='/next-item')
    .row.form-inline
      .col-md-12
       fieldset
        .form-group
          address.text-center
            strong Order Date:
            br
            button.btn.btn-default(type='button') March 7 2015
        .form-group 
            label(for='time')   
          |              
        .form-group
          address.text-center
            strong Billed To:
            br
            input.form-control(type='text', name='email1')
            |                              
        .form-group
            label(for='time')     
          |             
        .form-group
          address.text-center
            strong Payment Method:
            br 
            .btn-group  
              button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true')
                | Payment type
                span.caret
              |     
              ul.dropdown-menu(role='menu', aria-labelledby='paymenttype')
                li
                  a(role='menuitem', tabindex='-2',href='#') Creditcard
                |       
                li
                  a(role='menuitem', tabindex='-2',href='#') Visa
                |       
                li
                  a(role='menuitem', tabindex='-2',href='#') Cash
                |       
                li
                  a(role='menuitem', tabindex='-2',href='#') Apple Pay 
                |          
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            h3.panel-title
              strong Order summary
          |     &#x9;&#x9;&#x9;
          .panel-body
            .table-responsive
              table#tab_logic.table.table-bordered.table-hover
                thead
                  tr
                    td.text-center
                      strong Item Code
                    |         &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.text-center
                      strong Item Name
                    |         &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.text-center
                      strong Unit Price
                    |         &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.text-center
                      strong Quantity
                    |         &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.text-center
                      strong Subtotal
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    th.text-center
                            |      

                tbody.expandable
                  tr#addr0
                    input(name='_csrf', type='hidden') 
                    td
                      input.form-control(placeholder='e.g 56779GH7', name='ItemNumber', type='text')
                    |            
                    td
                      input.form-control(placeholder='e.g Cafe Latte', name='ItemName', type='text')
                    |            
                    td
                      input.form-control.price(placeholder='e.g. 12', name='UnitPrice', type='number')
                    |            
                    td
                      input.form-control.qty(placeholder='e.g. 2', name='Quantity', type='number')
                    |            
                    td
                      div.form-control.subtotal( placeholder='', name='Subtotal')
                    |           
                    td.text-center
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                        a#delete_row_0.btn.btn-danger.fa.fa-trash-o.fa-lg
                    |    
                    td.text-center
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                        button#add_row.btn.btn-success.btn-sm.pull-right +   
                  tr#subtotal
                    td.thick-line
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.thick-line
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.thick-line
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.thick-line.text-center
                      strong Subtotal
                    |  
                    td.thick-line.text-right $670.99
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  tr
                    td.no-line
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.no-line
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.no-line
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.no-line.text-center
                      strong Tax
                    |   
                    td.no-line.text-right $2.5
                  |     &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  tr
                    td.no-line
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.no-line
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.no-line
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.no-line.text-center
                      strong Total
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.no-line.text-right $685.99

          div.row-fluid
           form.form-horizontal(method='post', role='form', action='/stop-billing')
              input(name='_csrf', type='hidden')
              .form-group
                .col-md-12.text-center
                  button.login.btn.btn-primary.btn-lg(type='submit') Transaction Complete
                    |   
            

        script(type='text/javascript').
          $(document).ready(function(){
            var i=1;
          $("#add_row").on("click", function(){
                console.log(i)
                $('#subtotal').before('<tr id="addr'+(i)+'"></tr>');
                $('#addr'+(i)).html("<td><input name='ItemNumber"+i+"' type='text' placeholder='e.g AAA56779GH7' class='form-control input-md' /> </td>"
                    + "<td><input  name='ItemName"+i+"' type='text' placeholder='Cafe Latte'  class='form-control input-md'></td>"
                    + "<td><input  name='UnitPrice"+i+"' type='number' placeholder='e.g. 12'  class='price form-control input-md'></td>"
                    + "<td><input  name='Quantity"+i+"' type='number' placeholder='e.g. 2'  class='qty form-control input-md'></td>"
                    + "<td><input  name='Subtotal"+i+"' type='number' placeholder='-'  class='subtotal form-control input-md'></td>"
                    + "<td class='text-center'><a id='delete_row_"+i+"' name='mobile"+i+"' type='text' placeholder='Mobile'  class='btn btn-danger fa fa-trash-o fa-lg'></td>"
                    + "<td class='text-center'><a id='add_row' name='mobile"+i+"' type='text' placeholder='Mobile'  class='btn btn-success btn-sm pull-right'>+</td>");
                console.log('hi');
                i++;


              });
            });


          $(document).on("click",'[id^=delete_row]',function(){
              var i = $(this).attr('id').replace(/delete_row_/, '');
              console.log(i);
              if(i>=1){
              $("#addr"+(i)).html('');
              }
              else{
              $("#addr0").find('input').val('');
              }
              });

          $(document).on("keyup",'#tab_logic .qty',function(){
            //- console.log((this).text());
            var E=jQuery(this).parents('tr').filter(':first');
            var subT=parseInt(E.find('.qty').val(),10) * parseFloat(E.find('.price').val());
            E.find('.subtotal').text('$' + subT.toFixed(2));
              });

