extends layout

include mixins/navbar-seller.jade
block content
  +seller-nav(['','','','','','active'])

block holder
  div.row-fluid
      .page-header.h3 My Profile
      form.login-form.form-horizontal(method='post', role='form')
        input(name='_csrf', type='hidden')
        .form-group
          label.col-sm-4 Company Name
          .col-sm-8
            input.form-control(placeholder='Registered name of the Company', required='required', name='companyname', type='text')
        .form-group
          label.col-sm-4 Company Logo
          .col-sm-8
            .btn.btn-default.btn-sm.fileupload.fileupload-new(data-provides='fileupload')        
              input(type='file', name='companylogo')    
            a.close.fileupload-exists.pull-right(href='#', data-dismiss='fileupload', style='float: none') &times;
        .form-group
          label.col-sm-4 Street address
          .col-sm-8
            input.form-control(placeholder='e.g. 123 Sunny Ave', required='required', name='streetAddress', type='text')
        .form-group
          label.col-sm-4 City
          .col-sm-8
            input.form-control(placeholder='e.g. City', required='required', name='city', type='text')
        .form-group
          label.col-sm-4 State
          .col-sm-8
            input.form-control(placeholder='e.g. CA', required='required', name='state', type='text')
        .form-group
          label.col-sm-4 ZIP
          .col-sm-8
            input.form-control(placeholder='e.g. 94116', required='required', name='zip', type='text')
        .form-group
          label.col-sm-4 Company Location
          .col-sm-8
             .fileupload.fileupload-new(data-provides='fileupload')
              span.btn.btn-default.btn-sm.btn-file
                |          
                input(type='file', name='location png')
              |     
              span.fileupload-preview
              |     
              a.close.fileupload-exists.pull-right(href='#', data-dismiss='fileupload', style='float: none') &times;  
        .form-group
          .col-sm-offset-4.col-sm-8
            button.login.btn.btn-primary(type='submit') Save
            //button.btn.btn-primary.btn-lg(type='submit') Signup