extends layout

block content
    .page-header.h3 Mushrooms' User List
    ul
        each user, i in userlist
            li
            table.table
                a.h4(href="mailto:#{user.email}")= user.username

   
block sidebar
  .widget
    h1 About us
    p
      | asadsfdsfdfdfdfdcxcxxfdghf
      | jhgjhhnbnbnbnbnbnb
    p
      | Vivamus hgh jhjghg jhjhghg
      | Vivamus hgh jhjghg jhjhghg


