

@import url('http://fonts.googleapis.com/css?family=Quicksand')


/*
 * Nib provides a CSS reset
 */

@media screen and (max-width :767px)
  .container, .row
    padding 0px

  .navbar-header
    margin 0px

  .holder
    padding 0px !important
    margin 0px !important



.facebook
  padding-top 7px
  display inline-block
  width 29px
  height 29px
  margin 0 10px 0 0
  text-indent -9999px
  background url("/img/small-facebook.png") no-repeat

.twitter
  padding-top 7px
  display inline-block
  width 29px
  height 29px
  margin 0 10px 0 0
  text-indent -9999px
  background url("/img/small-twitter.png") no-repeat

/*
 * Store the main color and
 * background color as variables
 */

main-color = #fa5b4d
background-color = #faf9f0
second-color =  #1a1a1a

body
  margin-bottom 60px

#sync1
  .item
    background #faf9f0
    padding 30px 0px
    margin 5px
    color #000
    -webkit-border-radius 3px
    -moz-border-radius 3px
    border-radius 3px
    text-align center

#sync2
  .item
    background #f5f5f5
    padding 10px 0px
    margin 5px
    color #1a1a1a
    border #e5e5e5 medium solid
    -webkit-border-radius 3px
    -moz-border-radius 1px
    border-radius 3px
    text-align center
    cursor pointer
    h1
      font-size 18px  
    font-size 15px
  .synced
    .item
      background #4c4c4c
      color #faf9f0
      font-size 15px

.container
  max-width 1100px
  padding-bottom 140px /* fixed missing part of bottom container */
  width auto
  overflow auto /* fixed missing part of bottom container */

.DocumentList
  overflow-x scroll
  overflow-y hidden
  height 200px
  width 100%
  padding 0 15px

.DocumentItem
  border 1px solid black
  padding 0
  height 200px

.well
  margin 5px
  height auto

.list-inline
  white-space nowrap

.row
  padding 10px 
  width auto 

.carousel-wrapper
  margin 20px auto
  position relative
  border 10px solid #fff
  -webkit-border-radius 5px
  -moz-border-radius 5px
  border-radius 5px
  -webkit-box-shadow 0 0 2px #999
  -moz-box-shadow 0 0 2px #999
  box-shadow 0 0 2px #999
  .photo-credits
    position absolute
    right 15px
    bottom 0
    font-size 13px
    color #fff
    text-shadow 0 0 1px rgba(0, 0, 0, 0.85)
    opacity .66
    a
      color #fff



html
  position relative
  min-height 100%

/* THE ABOVE CODE OS USED FOR MAKING - STICKY FOOTER */



.dropdown
  position relative

.footer
  height 120px /* should be lesser than .container bottom padding to avoid overlapping */
  position absolute
  bottom 0
  width 100%
  /* old color  #f5f5f5 */
  background-color second-color
  font-family 'Quicksand'
  font-size 15px
  text-align center
  padding 30px
  color #fff /* text color */




header
  font-family 'Quicksand'
  font-size 45px
  padding 30px 10px
  color #fff
  text-align center

  /*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color main-color
  border-bottom 1px solid darken(main-color, 50%)
  text-shadow 0px -1px 0px darken(main-color, 50%)



.main-content
  float left
  width 300px
  p
    margin-bottom 20px

.holder
  margin 0px 20px
  margin-top 20px

.slick-prev::before, .slick-next::before
  color #000

.btn-xl
  padding 18px 28px
  font-size 22px
  border-radius 8px
.modal-backdrop
  z-index 0

.widget

  /*
   * Note the lack of vendor
   * prefixes here. Nib will
   * add them for us
   */
  
  border-radius 3px
  border 1px solid #ccc
  padding 0px 20px
  background-color background-color
  box-shadow inset 0px 0px 0px 3px rgba(#fff, 0.8), 0px 3px 0px -2px rgba(#000, 0.1)

  p
    font-size 13px
    padding 0px 10px
    margin-bottom 10px

p
  line-height 1.8

.footbackground
  background-color second-color
  font-family 'Quicksand'
  color #fff
  font-size 15px
  text-align center
  padding 20px 0px

  /*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */

  .facebook
    padding-top 7px
    display inline-block
    width 29px
    height 29px
    margin 0 10px 0 0
    text-indent -9999px
    background url("/img/small-facebook.png") no-repeat

  .twitter
    padding-top 7px
    display inline-block
    width 29px
    height 29px
    margin 0 10px 0 0
    text-indent -9999px
    &:last-child
      margin-right 0
    &.rss
      background url("/img/small-rss.png") no-repeat
    background url("/img/small-twitter.png") no-repeat

  
