<div class="container">
	<h2 class="text-center">Desktop View </h2>
	<br/>
	<label for="name">Search   :</label><input type="text" data-ng-model="name" id="name" name="name"/>
	<h4></h4>
	<style>
		table, th , td  {
		  border: 1px solid grey;
		  border-collapse: collapse;
		  padding: 5px;
		}
		table tr:nth-child(odd) {
		  background-color: #f1f1f1;
		}
		table tr:nth-child(even) {
		  background-color: #ffffff;
		}
		</style>
	
	<table>
		<tbody ng-repeat="x in names">
			<tr ng-repeat="y in x.item_details | filter:name | orderBy:'itemname'">
				<td> {{ y.itemname }} </td>
				<td> {{ y.quantity }}</td>
				<td> {{ y.unitprice.toFixed(3) }}</td>
				<td> {{ y.subtotal_ln.toFixed(3) }}</td>
				<td> {{ x.transaction_date.toString() }}</td>
				<td><button class="btn-success"> Details </button></td>
  			</tr>
  		</tbody>	
  	</table>	
	<!-- <li ng-repeat="cust in customers | filter:name | orderBy:'city'"> {{cust.name}} - {{cust.city}} </li> -->		
</div>		

