.row
  .col-md-12
    .jumbotron
      h2
        span.text-warning Morning
        |  
        span.text-success Food
      |           
      span.pull-right.text-muted Today is #{new Date().toLocaleDateString()}
      |           
      .text-muted 1429 Stockholm, Sweden
|     
.row
  .col-sm-6
    .well
      .box
        .text-info.h5 Breakfast
        |             
        button.buttons.btn.btn-primary(ng-click='add(food.pizza)') Pizza
        |                           
        button.buttons.btn.btn-primary(ng-click='add(food.donut)') Donuts
        |             
        button.buttons.btn.btn-primary(ng-click='add(food.tortilla)') Tortilla
        |             
        button.buttons.btn.btn-primary(ng-click='add(food.burger)') Burger
        |             
        button.buttons.btn.btn-success(ng-click='add(food.samosa)') Samosas
      |           
      br
      br
      |           
      .box
        .text-info.h5 Bewerages
        |             
        button.buttons.btn.btn-primary(ng-click='add(food.coldcoffee)') Cold Coffee
        |             
        button.buttons.btn.btn-primary(ng-click='add(food.hotcoffee)') Hot Coffee
        |             
        button.buttons.btn.btn-primary(ng-click='add(food.coke)') Coke
        |             
        button.buttons.btn.btn-primary(ng-click='add(food.dietcoke)') Diet Coke
        |             
        button.buttons.btn.btn-primary(ng-click='add(food.pepsi)') Pepsi
  |       
  .well
    .panel.panel-primary
      .panel-heading
        h3.panel-title Order Summary
      |             
      .panel-body(style='max-height:320px; overflow:auto;')
        .text-warning(ng-hide='order.length')
          | Noting ordered yet !
        |               
        ul.list-group
          li.list-group-item(ng-repeat='item in order')
            span  {{item.item.detail}}
            |                   
            .btn-group.pull-right(role='group', aria-label='...')
              button.btn.btn-xs(type='button', ng-disabled='', ng-click='subtractItem(item, $index)')
                span.glyphicon.glyphicon-minus(type='button')
              |                       
              button.btn.btn-xs(type='button', ng-click='addItem(item, $index)')
                span.glyphicon.glyphicon-plus
              |                        
              button.btn.btn-danger.btn-xs(type='button', ng-click='deleteItem($index)')
                span.glyphicon.glyphicon-trash
            |                   
            .label.label-success.pull-right ${{item.totalPrice}}
            |                   
            .label.label-default.pull-right {{item.orderedItemCnt}}
      |             
      .panel-footer(ng-show='order.length')
        .label.label-danger Total: ${{getSum()}}
      |             
      .panel-footer(ng-show='order.length')
        .text-muted
          | Do not let go of customer without taking payment !
      |             
      .pull-right
        span.btn.btn-default(ng-click='clearOrder()', ng-disabled='!order.length') Clear
        |               
        span.btn.btn-danger(ng-click='checkout()', ng-disabled='!order.length') Checkout